{% extends "layout.html" %}
{% block body %}
  <h2>Все книги</h2>
    {%- for book in books %}
      <ul>
        <li> Название: <a href="/book/{{ book.id }}">{{ book.name }}</a> </li>
        <li> Автор: {{ book.author }} </li>
        <li>
          <a href="{{ url_for('books_by_genre', genre_id=book.genre_id) }}" > Жанр: {{ book.genre }} </a>
        </li>
        <form action="/save_book_status" method="POST">
            <input type="hidden" name="book_id" value="{{ book.id }}">
             Прочитано
            <input type="checkbox" name="is_read" {% if book.is_read %}checked{% endif %}>
            <button type="submit">Сохранить</button>
        </form>
      </ul>
      <hr>
    {%- endfor %}
    <a href="/read_books">Показать прочитанные книги</a>

{% endblock %}